<div class="navbar-container">
  <nav class="navbar">

    <div class="nav-left-container">
      <ul class="nav-links">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/series" routerLinkActive="active">Series</a></li>
        <li><a routerLink="/movies" routerLinkActive="active">Movies</a></li>
        <li><a routerLink="/watchlist" routerLinkActive="active">Watchlist</a></li>
      </ul>
    </div>

    <div class="nav-center-container">
      <img src="assets/images/Switch_Off.png" alt="Center Logo">
    </div>


    <div class="nav-right-container">

      <button class="icon-btn">
        <i class="fas fa-search"></i>
      </button>

      <button class="icon-btn">
        <i class="fas fa-bell"></i>
      </button>


      <div class="profile">
        <img src="assets/images/Profile_Avatar.png" alt="User Avatar" class="avatar">
      </div>
    </div>

  </nav>
</div>
