<app-navbar></app-navbar>

<div class="home-container">
  <div class="carousel-wrapper">
  <c-carousel transition="crossfade" [animate]="true" [dark]="true">
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let image of images" [interval]="3000">
        <img [src]="image.src"
             alt="{{ image.title }}"
             class="d-block w-100"
             loading="lazy" />
        <c-carousel-caption class="d-none d-md-block">
          <h3>{{image.title}}</h3>
          <p>{{image.subtitle}}</p>
        </c-carousel-caption>
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control routerLink caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control routerLink caption="Next" direction="next"></c-carousel-control>
  </c-carousel>
  </div>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>
